<div class="wrap">
  <div>マイページです</div>
  <div>
    <%= @user.name %>さん
  </div>
  <div>
    <%= @user.email %>
  </div>
  <h1 class="user-posts"><%= @user.name %>さんの投稿一覧</h1>
  <%= render "posts/posts" %>
</div>