.contents{
  overflow: scroll;
  overflow: auto;
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 6%;
}

.content{
  opacity: 0.8;
  border-radius: 10px;
  color: #f2efcd;
  background-image: linear-gradient(-20deg, #00cdac 0%, #81cbc6 100%);
  text-align: center;
  padding: 5% 5% 0 5%;
  margin: 5%;
  box-shadow: 5px 5px 5px 2px rgba(55, 164, 142, 0.5);
}
.content:hover{
  opacity: 1;
}

.book-name{
  padding: 3%;
  white-space: nowrap;
  overflow: scroll;
  overflow: auto;
  font-size: 1.25rem;
}
.book-name a{
  color: #f2efcd;
}
.user-name{
  white-space: nowrap;
  overflow: scroll;
  overflow: auto;
  padding: 3%;
  font-size: 1.25rem;
}
.user-name a{
  color: #f2efcd;
}
.category-name{
  padding: 3%;
  font-size: 0.85rem;
}
.like-form{
  padding-bottom: 0.85rem;
}