.contents{
  overflow: scroll;
  overflow: auto;
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding-top: 6%;
}

.content{
  border-radius: 10px;
  color: #f2efcd;
  background-color: rgba(55, 164, 142, 0.7);
  text-align: center;
  padding: 20px 15px 0 15px;
  margin: 20px;
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  box-shadow: 5px 5px 5px 2px rgba(55, 164, 142, 0.5);
}

.book-name{
  padding: 10px;
  white-space: nowrap;
  overflow: scroll;
  overflow: auto;
  font-size: 16px;
}
.user-name{
  white-space: nowrap;
  overflow: scroll;
  overflow: auto;
  padding: 10px;
  font-size: 16px;
}

.category-name{
  padding: 10px;
  font-size: 16px;
}