<div class="wrap">
  <ul class="contents">
    <% @posts.each do |post| %>
      <li class="content darkmode-ignore" id="post_<%= post.id %>">
        <%= render "post", post: post %>
      </li>
    <% end %>
  </ul>
</div>
