

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 共通事項 */
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  background-color: #f4f2e1;
}
.darkmode-toggle{
  z-index: 5;
}

.wrap{
  width: 100vw;
  padding: 0px 5%;
}

.header{
  padding: 0 50px;
  box-shadow: 3px 3px 3px rgba(55, 164, 142, 0.4);
  position: sticky;
  top: 0;
  z-index: 3;
  height: 100%;
  background-color: rgba(55, 164, 142, 0.7);
  transition: 0.5s;
}
.header:hover{
  background-color: rgb(55, 164, 142);
}

.header__bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  transition: color .3s, background.3s, box-shadow .3s, transform .3s;
  font-size: 20px;
  margin: 5px 8px;
  color: #f2efcd;
  background-color: #72baac;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(55, 164, 142, 0.4);
}
.btn:action{
  transition-duration: .1s;
}

.grid-6{
  display: flex;
  flex-direction: column;
}
.flash{
  isolation: isolate;
  padding: 10px 0px;
  margin: 0;
  color: #f2efcd;
  font-size: 20px;
  text-align: center;
  background-color: #D16E5B;
}

.page-count{
  isolation: isolate;
  padding: 5% 0;
  display: flex;
  justify-content: center;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  opacity: 0.7;
  border: none;     /*枠線をなくす*/
  color: #f2efcd;  /*文字の色を変える*/
  margin: 10px;
  background-color: #72baac;
  box-shadow: 3px 3px 3px rgba(55, 164, 142, 0.4);
  padding: 10px;
  transition: 0.5s;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;    /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  opacity: 1;      
  border-radius: 15px;    /*角を丸くする*/
}
@media(max-width:600px){
  .wrap{
    padding: 0 10%;
  }
  .header{
    padding: 0 10%;
  }
  .header_logo_image{
    height: 60px;
    width: 80px;
  }
  .btn{
    font-size: 0.85rem;
  }
  .flash{
    font-size: 1rem;
  }
  .pagination>li>a {          
  border: none;     /*枠線をなくす*//*文字の色を変える*/
  margin: 0px;
  padding: 5px;
}
}

@media (min-width: 992px){
  .grid-6{
    display: flex;
    flex-direction: unset;
  }
}