.top2{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/janko-ferlic-sfL_QOnmy00-unsplash\ 2.jpg");
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: lighten;
}
.introduce-logo{
  margin-left: auto;
  margin-right: auto;
}
.introduces{
  flex-direction: column;
  display: flex;
  padding:5% 5%;
}

.top-image{
  padding: 10%;
  width: 100%;
  opacity: 0.8;
}

.top-image:hover{
  opacity: 1;
}

.introduce-text{
  text-align: center;
  letter-spacing: 0.08rem;
  color: azure;
  font-size: 1.25rem;
}
.signup-or-login{
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-signin{
  color: azure;
  font-size: 1.75rem;
}
@media(max-width:600px){
  .book-image{
    height: 80%;
  }
  .introduce-logo{
    width: 50%;
  }
  .book-text{
    font-size: 0.85rem;
  }
  .to-signin{
    font-size: 1rem;
  }
  .login-title{
    font-size: 1.5rem;
  }
}