.top2{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/janko-ferlic-sfL_QOnmy00-unsplash\ 2.jpg");
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
}
.introduce-title{
  padding-top: 5%;
  text-align: center;
  color: azure;
}
.introduces{
  flex-direction: column;
  display: flex;
  padding:5% 5%;
}

.top-image{
  padding: 10%;
  width: 100%;
  opacity: 0.8;
}

.top-image:hover{
  opacity: 1;
}

.introduce-text{
  text-align: center;
  letter-spacing: 0.08rem;
  color: azure;
  font-size: 1.25rem;
}