.top2{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/janko-ferlic-sfL_QOnmy00-unsplash\ 2.jpg");
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: lighten;
}
.introduce-logo{
  margin-left: auto;
  margin-right: auto;
}
.introduces{
  flex-direction: column;
  display: flex;
  padding:5% 5%;
}
.introduce{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top-image{
  padding: 30px;
  width: 20%;
  opacity: 0;
  transition: 0.8s;
}

.top-image:hover{
  width: 100%;
  height: 100%;
  border-radius: 60px;
  visibility:visible;
  display: block;
  opacity: 1;
}

.introduce-text{
  text-align: center;
  letter-spacing: 0.08rem;
  color: azure;
  font-weight: 900;
  font-size: 1.25rem;
}

.sns-btn{
  margin: auto;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__btn__sns{
  text-align: center;
    isolation: isolate;
    transition: 0.5s;
    opacity: 0.8;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #72baac;
    background-image: linear-gradient(-20deg, #00cdac 0%, #81cbc6 100%);
    color: #f2efcd;
    box-shadow: 3px 3px 3px 2px rgba(55, 164, 142, 0.5);
}
.form__btn__sns:hover{
    opacity: 1;
    padding: 15px;
}

.signup-or-login{
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-signin{
  color: azure;
  font-size: 1.75rem;
}
@media(max-width:600px){
  .book-image{
    height: 80%;
  }
  .introduce-logo{
    width: 50%;
  }
  .book-text{
    font-size: 0.85rem;
  }
  .to-signin{
    font-size: 1rem;
  }
  .login-title{
    font-size: 1.5rem;
  }
}