.user-posts{
  isolation: isolate;
  color: #f4f2e1;
  text-align: center;
  margin-top: 10%;
  transition: 0.5s;
  background-color: #D16E5B;
  font-size: 2rem;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 20px;
}
.user-posts:hover{
  opacity: 1;
}
.string-length{
  color: #D16E5B;
  font-size: 0.75rem;
}


@media(max-width:600px){
  .user-posts{
    font-size: 1rem;
  }
}